@media (max-width: 576px) {
  :root {
    --title-font-size: 19px;
    --title-font-weight: 500;
    --body-font-family: "Inter", sans-serif;
    --body-font-color: rgb(99, 95, 95);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 70px 20px 5px;
    font-family: var(--body-font-family);
  }

  main {
    flex-grow: 1;
  }

  .gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .name {
    /* font-family: var(--body-font-family); */
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
  }

  .name-link {
    text-decoration: none;
    color: black;
  }

  .container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid gray; */
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
  }

  /* .link-container> div{
    border:none;
  } */

  a {
    text-decoration: none;
    color: var(--body-font-color);
    background-image: linear-gradient(gray, gray);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  a:focus {
    outline: none;
    box-shadow: none;
  }

  .before-intro {
    height: 50px;
  }

  .intro {
    font-size: 14px;
    line-height: 170%;
  }

  .social-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 10px;
  }

  .social-container > div {
    background-color: rgb(247, 244, 244);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--body-font-color);
  }

  .more-intro-heading {
    font-size: 15px;
    font-weight: var(--title-font-weight);
  }

  .more-intro {
    font-size: 14px;
    line-height: 170%;
  }

  .inspiration {
    padding: 10px 0;
    border-bottom: 0.5px solid rgb(201, 197, 197);
  }

  .inspo {
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
  }

  .inspo-explain {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: rgb(102, 101, 101);
  }

  footer {
    font-size: 10px;
    text-align: center;
    color: rgb(102, 101, 101);
    margin-top: auto;
  }

  .mobile-container {
    display: none;
  }

  /* This card holds the profile image and the job title */
  .avatar-card {
    background-color: #f0f0f0;
    padding: 15px 15px 5px;
    border-radius: 10px;
  }

  .avatar-name-holder {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .avatar-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar {
    overflow: hidden;
  }

  .naming {
    font-size: 14px;
    margin: 0;
    padding: 2px 0;
  }

  .job-title {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: rgb(102, 101, 101);
  }

  .name-job {
    padding: 6px 0;
  }

  .hobbies {
    padding: 5px 15px 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
  }

  .bento {
    height: 500px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 30px;
  }

  .bento > div {
    /* border: 1px solid yellow; */
    border-radius: 10px;
    overflow: hidden;
  }

  .two {
    grid-area: 1/2/3/3;
  }

  .three {
    grid-area: 2/1/4/2;
  }

  .five {
    grid-area: 4/1/5/3;
  }

  .gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Everything here is not part of the mobile view */
@media (min-width: 576px) {
  .mobile-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .messageforbigscreen {
    display: block;
    text-align: center;
  }

  .mobile {
    display: none;
  }

  footer {
    display: none;
  }
}
