
:root {
  --title-font-weight: 500;
  --body-font-family: "Inter", sans-serif;
  --light-mode-bg:white;
  --dark-mode-bg:black;
  --light-mode-color:#222222;
  --dark-mode-color:rgb(189 191 199);
  /* rgb(35 36 40) */
  /* #f9f5ee */
}

body{
  display: flex;
  justify-content: center;
  font-family:var(--body-font-family);
  font-size: 14px;
  line-height: 1.5;
  
}

@media (prefers-color-scheme: dark){
  body{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-color)
  }

  a{
    color: var(--dark-mode-color);
  }

  footer > a:hover{
    background-color:rgba(77, 75, 75, 0.144); ;
  }

  .tools{
    border: 0.5px solid rgb(102, 101, 101);
    box-shadow: 0px 1px 1px rgb(122, 121, 121);
  }

  .socials{
    border: 0.8px solid rgba(122, 121, 121, 0.74);
  }

  .socials a:hover{
  color: white;
}
}


@media(prefers-color-scheme: light){
  body{
  background-color:var(--light-mode-bg);
  color: var(--light-mode-color);
}
  .tools{
    border: 0.3px solid rgb(199, 197, 197);
    box-shadow: 0px 1px 1px rgb(209, 203, 203);
  }

  a{
    color: var(--light-mode-color);
  }

  .socials{
    border: 0.8px solid rgb(185, 183, 183);
  }

}

.profile{
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  border-radius:50px;
  float: left;
  margin: 0 15px 4px 0;
  vertical-align: top;
}

p{
  margin: 0;
  padding: 0;
}

svg{
  vertical-align: middle;
}

.tools{
  display: flex;
  flex-wrap: nowrap;
  display: inline;
  padding: 0px 6px 2px 6px;
  border-radius: 5px;
}

.tools span{
  font-size: 11px;
}

main{
  margin-top: 100px;
  padding: 20px;
  max-width: 600px;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

footer{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

a svg{
  vertical-align: super;
}

footer > a{
  text-decoration: none;
  background-color: rgba(77, 75, 75, 0.027);
  padding: 2px 8px;
  border-radius: 3px;
}

.socials{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding-inline: 10px;
  border-radius: 50px;
}

.socials a{
  display: flex;
  align-items: center;
}


/* mobile screen */
@media (max-width: 480px){
  body{
    font-size: 14px;
  }

  main{
    margin-top: 50px;
  }

  p{
    line-height: 1.5;
  }

  footer{
    display: flex;
    justify-content: space-between;
  }
}